a{
  color:black;
  text-decoration: none;
}
body{
  margin:0;
}
h1{
  font-size:55px;
  text-align:center;
  border-bottom:2px solid gray;
  margin:0;
  padding:20px;
}
#grid ol{
  border-right: 2px solid gray;
  width:100px;
  padding:20px;
  margin:0;
}
#grid{
  display:grid;
  grid-template-columns:150px 1fr;
}
#article{
  padding: 15px;
}
@media(max-width:500px){
  #grid{
    display:block;
  }
  #grid ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
}
